<div class="container" id="records_index">
  <div class="row">
    <table class="col-8 table table-bordered">

      <th class="text-center">food_name</th>
      <th class="text-center">food_amount</th>
      <th class="text-center">weight</th>
      <th class="text-center">date</th>

  <% if !!records %>
    <% records.each do |record| %>
     <tr>
        <td class="text-center"><%= record.food_name %></td>
        <td class="text-center"><%= record.food_amount %></td>
        <td class="text-center"><%= record.weight %></td>
        <td class="text-center"><%= record.date %></td>
      </tr>
     <% end %>
    <% end %>
    </table>
  </div>
</div>