<div class="container" id="pets_index">
  <div class="row">
    <table class="col-8 table table-bordered">
      <th class="text-center">Name</th>
      <th class="text-center">Animals_kind</th>
      <th class="text-center">birthday</th>

  <% if !!pets %>
    <% pets.each do |pet| %>
     <tr>
        <td class="text-center"><%= pet.name%></td>
        <td class="text-center"><%= pet.animals_kind %></td>
        <td class="text-center"><%= pet.birthday %></td>
      </tr>
     <% end %>
    <% end %>
    </table>
  </div>
  
   
</div>