<div class="row">
  <aside class="col-sm-4">
    <h3><%= @pet.name %>の食事記録</h3>
  </aside>
  <div  style="margin-bottom: 30px;">
    <%= link_to 'レコードの追加', new_record_path(pet_id: @pet), class: 'btn btn-lg btn-primary' %>
    
  </div>
  	
    <%= render 'records/records', records: @records %>
</div>
