<% if logged_in? %>
  <h1><%= current_user.name %>'s Families<h1>
  <%= render 'pets/pets', pets: @pets %>
  
<% else %>
  <div class="center jumbotron" id="title">
    <div class="text-center">
      <h1>大切な家族の健康を守ろう<h1>
      <h4>～日々の食事量と体重をチェックしましょう～<h4>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

